<h3>Order#shipped</h3>

<p>
  This is just to let your know that we've shipped you recent order:
</p>

<table>
	<tr><th colspan="2">Qty</th><th>Description</th></tr>
	<%= render @order.line_items -%>
</table>
